/datasets
/__pycache__
/logs
/.vscode
/results/test_preds
/model/__pycache__/
/results/best_model.pth
/utils/__pycache__
/__pycache__
/result1.png
/.gitignore
/model/example_camvid_multiclassB_quita.ipynb
/model/example_camvid_multiclassC2_quita.ipynb

